[submodule "Fireworks/vendor/spdlog"]
	path = Fireworks/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Fireworks/vendor/GLFW"]
	path = Fireworks/vendor/GLFW
	url = https://github.com/chris-luafau/glfw
[submodule "Fireworks/vendor/imgui"]
	path = Fireworks/vendor/imgui
	url = https://github.com/chris-luafau/imgui/
[submodule "Fireworks/vendor/glm"]
	path = Fireworks/vendor/glm
	url = https://github.com/g-truc/glm
